@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.shop-page {
  display: flex;
  flex-direction: column;

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  &__search {
    display: flex;
    width: 100%;
  }
}
