@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.shop-page {
  display: flex;
  flex-direction: column;

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
  }
  &__search {
    display: flex;
    width: 100%;
  }
  &__carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__box-cta {
    background-image: url("../../assets/icons/icons8-checkout-ios-17-outlined/icons8-checkout-50.png"); /* 16x16 */
    background-repeat: no-repeat;
    background-size: contain;
    width: 5rem;
    height: 5rem;
    margin-left: 0.5rem;
  }
}
