@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.cart {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  margin-bottom: 5rem;

  &__container {
    background: #fafbfc;
    border: 2px solid #223b6b;
    border-radius: 12px;
    // padding: 2rem 1.5rem 1.5rem 1.5rem;
    width: 320px;
    min-height: 200px;
    box-shadow: 0 2px 12px rgba(34, 59, 107, 0.07);
    // margin: 2rem auto 2rem 2rem;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }

  h2 {
    margin-top: 0;
    color: #223b6b;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.02em;
    margin-bottom: 1.2rem;
    text-align: left;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__item {
    display: grid;
    grid-template-columns: 2fr 1fr auto;
    align-items: center;
    gap: 1rem;
    padding: 0.7rem 0;
    width: 100%;
    &:last-child {
      border-bottom: none;
    }

    &__t {
      font-size: 1rem;
      color: #223b6b;
      font-weight: 100;
    }

    button {
      @include button(#dc3545, #fff); // Red background, white text
      font-size: 0.95rem;
      padding: 0.35rem 1rem;
      border-radius: 6px;
      margin-left: 1rem;
    }
  }

  p {
    color: #666;
    font-size: 1.1rem;
    text-align: center;
    margin: 2rem 0;
  }
}
