@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: space-evenly;
  padding: 0.3rem;
}
