@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 100%;
  justify-content: space-around;
  // padding: 0.3rem;
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 0.5rem;
}
