@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.category {
  background-color: $generalbackground;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-top: 1px solid grey;
  &__title {
    @include title();
  }
  &__description {
    @include font();
    padding: 0.5rem;
  }
}
