@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.hero {
  display: flex;
  flex-direction: column;

  background-repeat: no-repeat;
  align-items: center;
  margin: 0.5rem 1rem 1rem;
  border: 1px solid black;
  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    text-align: center;
  }
  &__img {
    width: 10.65rem;
    border-radius: 0.1rem;
  }
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__text {
    padding: 0.5rem 1rem 1rem 1rem;
    margin: 0%;
  }
}
