@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.product-card {
  @include product-card();
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  &__add-btn {
    @include button(#28a745, #fff);
  }

  &__remove-btn {
    @include button(#dc3545, #fff);
  }
}
.product-card--selected {
  border: 2px solid #4caf50; // green border, or your preferred highlight
  box-shadow: 0 0 8px #4caf5044;
  background: #f6fff6;
}
