@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.home {
  //background-color: $generalbackground;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include bacground();
  @include font();
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    @include title();
    margin: 0%;

    margin-bottom: 0.5rem;
  }
  &__paragrph {
    @include font();
    // text-decoration: none;
    padding: 0.3rem;
    margin: 0.3rem;
  }
  &__banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $greyBackground;
    width: 100%;
    margin-bottom: 1rem;
    @include background-glow(grey);
  }
  &__title {
    @include title();
    color: #fff;
  }
  &__hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0%;
    gap: 0.5rem;
  }
  &__cta {
    @include button(#c2bd90db, #3d3737);
    text-align: center;
    text-decoration: none;
  }
}
