@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.home {
  //background-color: $generalbackground;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include bacground();
  @include font();
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__subtitle {
    @include title();
    margin: 0%;
    margin-bottom: 0.5rem;
  }
  &__paragrph {
    @include font();
    // text-decoration: none;
    padding: 0.3rem;
    margin: 0.3rem;
  }
}
