.cta {
  text-decoration: none;
  color: #fff;
  background-color: #c2a890;
  padding: 0.5rem;
  border-radius: 0.5rem;

  justify-content: center;
  display: inline;
  width: 10rem;
  text-align: center;
}
