@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.cta {
  text-decoration: none;
  color: #fff;
  background-color: #c2a890;
  padding: 0.5rem;
  border-radius: 0.5rem;

  justify-content: center;
  display: inline;
  width: 5rem;
  text-align: center;
  @include font();
  color: #fff;
}
