@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.about {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  &__title {
    @include title();
  }

  &__banner {
    background-image: url("../../assets/images/PXL_20250930_174844532.PANO.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 15rem;
    width: 100%;
  }
  &__box {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  &__text {
    @include font();
    padding: 0.5rem;
  }
}
