@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.business-hours {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  &__ul {
    list-style: none;
    padding-left: 0%;
    display: flex;
    width: 100%;
    // justify-content: space-between;
  }
  &__li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    justify-content: space-around;
    width: 100%;
  }
  &__day {
    @include font();
    font-size: 1.2rem;
  }
  &__time {
    @include font();
    font-size: 0.8rem;
  }
}
