@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.5px solid black;
  padding-bottom: 1rem;
  margin-top: 0rem;
  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
  }

  &__slogan {
    @include font();

    text-align: center;
  }
  &__icons {
    width: 100%;
    display: flex;
    flex-direction: row;

    gap: 6rem;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  &__cta {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-right: 1rem;
  }
}
