@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 0.5px solid black;
  padding-bottom: 1rem;
  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8rem;
  }

  &__slogan {
    @include font();

    text-align: center;
  }
}
