@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem;
  @include font();
  @include card();
}
