.carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  //max-width: 10rem; // adjust as needed for your layout
  margin: 0 auto;

  &__card {
    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

    transition: box-shadow 0.2s;
    &:hover {
      box-shadow: 0 6px 24px rgba(0, 0, 0, 0.12);
    }
    width: 15rem;
  }

  &__img {
    //position: absolute;
    width: 100%;
    max-width: 350px;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
  }
}
