@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.container {
  display: flex;
  flex-direction: column;

  align-items: center;

  &__grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

    margin-right: 0.5rem;
  }
}
