@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.product {
  display: flex;

  padding-left: 0.5rem;

  flex-direction: row;
  flex-wrap: wrap;
  // margin-right: 0.5rem;
  justify-content: space-evenly;
  margin-right: auto;
  &__card {
    list-style: none;
    // width: 8rem;
  }
}
