@use "../../style/parcials/_mixin" as *;
@use "../../style/parcials/_variables" as *;

.footer {
  background-color: $generalbackground;

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  &__links {
    display: flex;
    flex-flow: row;
    justify-content: center;

    margin-bottom: 1rem;
    padding: 0%;
  }
  &__icons {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }
}
